<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title }} - {{ site.data.settings.title }}</title>
    <!-- Basic Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Basic meta and OG tags-->
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ site.data.settings.title }}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta itemprop="image" content="{{ site.url }}//assets/images/logos/logo.png ">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{ site.data.settings.seo.type }}">
    <meta name="twitter:site" content="{{ site.data.settings.seo.twitter-site }}">
    <meta name="twitter:title" content="{{ site.data.settings.title }} - {{ page.title }}" <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:creator" content="{{ site.data.settings.seo.twitter-creator }}">
    <meta name="twitter:image" content="{{ site.url }}//assets/images/logos/logo.png">
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ site.data.settings.title }} - {{ page.title }}" />
    <meta property="og:site_name" content="{{ site.data.settings.title }}" />
    <meta property="og:type" content="{{ site.data.settings.seo.type }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}//assets/images/logos/logo.png" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/manifest.json">

    <!-- Frameworks -->
    <!-- Font Awsome-->
    <!-- <link href="{{ site.url }}/lib/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
        crossorigin="anonymous" />
    <!--Bootstrap -->
    <!-- <link href="{{ site.url }}/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" integrity="sha256-fmMNkMcjSw3xcp9iuPnku/ryk9kaWgrEbfJfKmdZ45o="
        crossorigin="anonymous" />
    <!-- Custom-->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
    <!-- Google Analytics -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.settings.google-analytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments) };
        gtag('js', new Date());

        gtag('config', '{{ site.data.settings.google-analytics}}');
    </script>
    <!-- End Google Analytics -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<!-- Cookie Consent -->
<script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#ffffff",
                        "text": "#000000"
                    },
                    "button": {
                        "background": "#00709f"
                    }
                },
                "position": "bottom-right",
                "content": {
                    "href": "{{ site.url }}/legal/privacy-statement"
                }
            })
        });

</script>

<body>
    <div id="wrap">
        {{ content }}
    </div>
</body>
<!-- Footer -->
<div id="footer">
    <footer>
        <!-- Legal Infos -->
        <div class="container">
            <div class="col-md-12 text-right">
                <div class="footer-legal">
                    <a href="{{ site.url }}/legal/privacy-statement/">Privacy Statement</a> -
                    <a href="{{ site.url }}/legal/terms-of-service/">Terms of Service</a>
                </div>
            </div>
        </div>
        <!-- Footer copyright with auto update year. -->
        <div class="copyright">
            <div class="container">
                <div class="col-md-6 col-sm-12">
                    <div class="footer-copyright"> Copyright ©
                        <script>
                            document.write("" + new Date().getFullYear());
                        </script> <a href="/">{{ site.data.settings.title }}</a> <span>, All rights reserved</span>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-12 footer-social ">{% for item in site.data.settings.social %}
                    <li><a href="{{ item.url }}"><i class="fa {{ item.icon }} social-icon {{ item.color }}" aria-hidden="true"></i></a></li>{%
                    endfor %}
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Loadidng JS in footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="{{ site.url }}/lib/jquery/dist/jquery.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<!-- Bootstrap Javascript -->
<!-- <script src="{{ site.url }}/lib/bootstrap/dist/js/bootstrap.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
    crossorigin="anonymous"></script>
<!-- Custom -->
<script src="{{ site.url }}/assets/js/main.js"></script>

</html>
